        <br> &copy; 2020. <br>
        Disclaimer: The information in this page might not be accurate at all or even important for that matter.
        I'm just a college student making a thing for class.

    </body>
  
</html>