<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Undersea Cable</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" type ="text/css" href="styles.css">
    </head>
    <body>
        <h1>Cables Under The Sea!!!</h1>
        <nav class="jumbotron">
            <a href="/">Home</a> <br>
            <a href="/why">Why?</a> <br>
            <a href="/how">How?</a> <br>
            <a href="/where">Where?</a> <br>
        </nav>
        
    