html, body {
    height: 100%;
    width: 100%;
    text-align: center;
}

#pictures, #likes {
    display: flex;
    justify-content: space-around;
}
img {
    justify-content: space-between;
    max-width: 25%;
    max-height: 25%;
    flex: 1;
    border-radius: 10px;
}