<%- include('partials/header') -%>
    
    <h3>How Do They Do This?</h3>
    Similiar to unspooling a thread along the floor a ship simply sails along the sea in as straight a line as possible <br>
    while the mass of cable held within the hull is unwound and let to sink to the ocean floor. Some cables are even <br>
    burried underneath the sand if that is possible and bennificial with the cable in use. <br>
    <img src = "/img/boat.jpg" alt = "Nice Boat Picture" height="500" width = "1000" /> <br>
    <!--height="500" width = "1000" -->
    
<%- include('partials/footer') -%>