<%- include('partials/header') -%>
    
    <h3>Why Do This?</h3>
    Before the invention of satelites the only way to send information from place to place was through physical means. <br>
    Of course mail was an easy way to send messages but that took forever. The invention of the telegraph solved that, but the <br>
    telegraph couldn't cross the sea the same way it could by land. So, instead of buidling poles to hang the cables from, the <br>
    inventors of the past decided to lay the cable under the ocean. Eventully that was upgraded to phone lines, and after that the <br>
    internet. <br>
    <img src = "/img/cable.gif" alt = "Nice thing Picture"/> <br>
    <!--height="500" width = "1000" -->
    
<%- include('partials/footer') -%>